body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
    height: 480px;
    box-sizing: border-box;
    transition: max-width 0.4s ease, padding 0.4s ease;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #3a124a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d900ff;
}

.img-logo {
    width: 130px;
}

.error-message {
    color: red;
    font-size: 14px;
    display: none;
    margin-bottom: 10px;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
    .container {
        max-width: 500px;
        padding: 30px;
    }
    
}
